extends layout

block content

    // container start
    .container(style='margin-top: 15%;')
        .alert.alert-danger(role='alert' style='margin: auto; width: 250px;')
            i.fas.fa-exclamation-triangle.d-flex.justify-content-center(style='font-size: 200px; color: #000;')
            b
                p.d-flex.justify-content-center.text-danger(style='font-size: 150%;') Invalid URL!!!
    // container end

